name: mason

services:
  pg:
    image: docker.io/library/postgres:18
    restart: unless-stopped
    shm_size: 1g
    ports:
      - "5442:5432"
    environment:
      POSTGRES_USER: mason
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mason
    volumes:
      - pg:/var/lib/postgresql
    networks:
      - internal
    command:
      - -c
      - listen_addresses=*
      - -c
      - wal_level=logical
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U mason"]
      interval: 10s
      timeout: 5s
      retries: 5

  electric:
    image: docker.io/electricsql/electric:latest
    environment:
      DATABASE_URL: postgresql://mason:password@pg:5432/mason?sslmode=disable
      # Not suitable for production. Only use insecure mode in development or if you've otherwise secured the Electric API.
      # See https://electric-sql.com/docs/guides/security
      ELECTRIC_INSECURE: true
    ports:
      - "5133:5133"
    networks:
      - internal
    depends_on:
      pg:
        condition: service_healthy

  telemetry:
    image: docker.io/grafana/otel-lgtm
    volumes:
      - grafana:/var/lib/grafana
    networks:
      - internal

volumes:
  pg:
  grafana:

networks:
  internal:
